
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #8e9197;
  z-index: 1000;
  padding: 10px 0;
  opacity: 0.9; /* прозрачность 80% */
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid #ddd;
}




.header.shrink {
  padding: 5px 0;
}

.leftNavbar {
  display: flex
  ;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      align-content: center;
      width: 300px;
      font-size: 14px;
      font-weight: 800;
      cursor: pointer;
}


.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 100px;
  transition: height 0.3s ease-in-out;
  
}

.header.shrink .container {
  height: 60px;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease-in-out;
}

.header.shrink .logo img {
  width: 100px; /* Уменьшаем логотип при прокрутке */
}

.rightNavbar {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 14px;
  font-weight: 800;
  cursor: pointer;
}



.cartIconWrapper {
  position: relative;
  
}

  
  .cartCount {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
  }
  
  div img {
    width:170px;
    height: 130px;
  }
  
 
  
  