.header {
    background-color: var(--primary-color);
    color: rgb(26, 25, 25);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}


.navbar {
    display: flex;
    gap: 20px; 
}



