.fav {
    background-color: #0e0e0f!important;
    color: var(--color)!important;
}

.btn {
    color: var(--color)!important;
    border-color: var(--color)!important;
    font-weight: 600!important;
    margin-top: 20px;
}

.title {
    border-bottom: 1px solid var(--color);
}